@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-100 antialiased;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
}
